@model HRMS.Models.Renter

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AftterLogIn.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
  
        <h4>Renter</h4>
        <hr />
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name)
                        
                            @Html.EditorFor(model => model.Name)
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address)
                       
                            @Html.EditorFor(model => model.Address)
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.Picture)
                       
                            @Html.EditorFor(model => model.Picture)
                            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                      
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdFront)
                       
                            @Html.EditorFor(model => model.IdFront)
                            @Html.ValidationMessageFor(model => model.IdFront, "", new { @class = "text-danger" })
                        </div>
                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.IdBack)
                       
                            @Html.EditorFor(model => model.IdBack)
                            @Html.ValidationMessageFor(model => model.IdBack, "", new { @class = "text-danger" })
                        </div>
                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.NumberOfMember)
                       
                            @Html.EditorFor(model => model.NumberOfMember)
                            @Html.ValidationMessageFor(model => model.NumberOfMember, "", new { @class = "text-danger" })
                        </div>
                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.MobileNo)
                       
                            @Html.EditorFor(model => model.MobileNo)
                            @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                        </div>
                  
                </td>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                       
                            @Html.EditorFor(model => model.Email)
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.RentDate)
                       
                            @Html.EditorFor(model => model.RentDate)
                            @Html.ValidationMessageFor(model => model.RentDate, "", new { @class = "text-danger" })
                        </div>
                   

                    <div class="form-group">
                        @Html.Label("Leave Date")
                       
                            @Html.EditorFor(model => model.LeaveDate)
                            @Html.ValidationMessageFor(model => model.LeaveDate, "", new { @class = "text-danger" })
                     
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                       
                            @Html.EditorFor(model => model.Status)
                            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                        </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.HouseId, "HouseId")
                       
                            @Html.DropDownList("HouseId")
                            @Html.ValidationMessageFor(model => model.HouseId, "", new { @class = "text-danger" })
                        </div>
                   
                  

                    <div class="form-group">
                        @Html.LabelFor(model => model.FlatNo)
                       
                            @Html.EditorFor(model => model.FlatNo)
                            @Html.ValidationMessageFor(model => model.FlatNo, "", new { @class = "text-danger" })
                        </div>
                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    
   

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
