@model HRMS.Models.Renter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AftterLogIn.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Renter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.House.HouseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House.HouseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Picture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFront)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFront)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMember)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMember)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MonthlyRentBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonthlyRentBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Advance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Advance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElectricBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElectricBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GassBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GassBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareTakerBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareTakerBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecurityManBill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecurityManBill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ServiceCharge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceCharge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FlatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlatNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
